.app-header-container{
    height: 250px;
    width:100%;
    background-image: url('../../assets/images/bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}


.navbar {
    width: 100%;
    overflow: auto;
    margin-bottom: 0;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:nth-child(n+2) {
    float: right;
  }

  .photo {
    height: 120px;;
  }

  .photo .col-xs-10 {
      height: 100%;
      display: flex;
      align-items: center;
  }
  
  .profile-pic {
      float: right;
      height: 120px;
      width: 120px;
      border-radius: 50%;
  }

  .handle, .name{
    color: white;
    text-align: left;
    margin: 5px 0;
  }

  .counts-block {
    display: inline-block;
    color: rgb(162, 221, 247);
    font-weight: bold;
    margin-right:30px;
  }

  .counts-block span {
    float:left;
    clear:left;
  }

  .counts-block span:nth-child(even) {
    color: white;
  }

  .bottom-row {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
    
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }