.section-title {
    text-align: left;
    padding: 10px;
}

.album-image {
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.album {
    margin: 10px 0;
    border: 1px solid rgb(199, 196, 196);
}

.album-line2 {
    clear: both;
}